*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    font-family: "Notable", sans-serif;
    text-shadow: 3px 3px 5px #C22A25;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-evenly;
}

header img{
    width: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
}

header a{
    margin-top: 5%;
    color:whitesmoke;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

body{
    background-color: white;
}


h1{
    font-family: "Notable", sans-serif;
    color:#A51611;
    text-shadow: 3px 3px 5px rgb(52, 51, 51);
    font-size: 80px;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.p1{
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
}

.p1 p {
    font-family: "Forum", serif;
    font-size: 20px;
    line-height: 25px;
    padding-top: 6%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

.p1 img{
    margin-left: 10%;
    width: 40%;
    box-shadow: 15px 15px black;
}

h2{
    font-family: "Notable", sans-serif;
    color:#A51611;
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    text-shadow: 3px 3px 5px rgb(52, 51, 51);
}

.partners{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10%;
}

.partners img{
    width: 70%;
    padding: 2%;
    box-shadow: 15px 15px black;
    border: black solid 2px;
}

footer{
    background-color: black;
    color: whitesmoke;
    font-family: "Notable", sans-serif;
    font-size: 20px;
    text-shadow: 3px 3px 5px #C22A25;
    padding: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
